body{
	font-family: sans-serif;
	background: #d5f0f3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #132743;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}
  
  li a:hover {
    background-color: #14AAFF;
}

.judul-atas h1{
    text-align: center;
}

.judul-atas h4{
    text-align: center;
    color: dimgrey;
}

.menu h2{
    text-align: center;
    margin-top: 70px;
}

.notifikasi p{
    text-align: center;
}

